<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi, mecanum]"/>
  <arg name="type" default="w210"/>
  <param name="model" value="$(arg model)"/>
  <param name="type" value="$(arg type)"/>

  <group if = "$(eval model == 'mecanum')">
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_mecanum_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
  </group>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <group if = "$(eval model != 'mecanum')">
    <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    </node>
  </group>
  
</launch>
