<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>

  <!-- slam_karto -->
  <node pkg="slam_karto" type="slam_karto" name="slam_karto" output="screen">
    <rosparam command="load" file="$(find turtlebot3_slam)/config/karto_mapper_params.yaml" />
  </node>
</launch>