<launch>
  <arg name="set_frame_id" default="base_scan"/>
  <arg name="lds_model" default="$(env LDS_MODEL)" doc="LDS MODEL [LDS-01, LDS-02]"/>

  <group if = "$(eval lds_model == 'LDS-01')">
    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="turtlebot3_lds" output="screen">
      <param name="port" value="/dev/ttyUSB0"/>
      <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>
  </group>
  <group if = "$(eval lds_model == 'LDS-02')">
    <node pkg="ld08_driver" type="ld08_driver" name="turtlebot3_lds" output="screen" args="LD08">
      <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>
  </group>
</launch>
